#
# List of elements to be excluded from the repository
/.vagrant/
/config/parameters.yml
/data/*
/data/mysql/*
/data/mysql/databases/*
/data/vault/*
/data/web-root/*
#
# Ensure that the files within the exclusion rules are still added to the repository
!/data
!/data/mysql
!/data/mysql/databases
!/data/mysql/databases/.gitkeep
!/data/vault
!/data/.gitkeep
!/data/web-root
!/data/web-root/.gitkeep
